
  <mat-expansion-panel 
    ngClass="selectPanel" 
    (opened)="myOnOpen()" 
    (closed)="myOnClose()" 
    (afterCollapse)="onAfterCollapse()"
    [ngStyle]="styles.panel" 
    [(expanded)]="panelExpanded"
    >
    <mat-expansion-panel-header>
      <mat-panel-title>
          <span [ngStyle]="styles.title">{{title}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div 
          class="item" 
          *ngFor="let item of items" 
          (click)="onItemClick(item.value)">
        <span>{{item.caption}}</span>
      </div>
  </mat-expansion-panel>