<div class="mainBox">
  <img src="../assets/img/Chuck-Norris-photo.png"
      srcset="../assets/img/Chuck-Norris-photo@2x.png 2x,
              ../assets/img/Chuck-Norris-photo@3x.png 3x"
      
     >
  <div class="joke"><p>{{this.joke}}</p></div>
  
  <app-select class="wide" [onChange]="boundedOnCategoryChange" [items]="categories" [placeholders]="{closed: 'Categories', open: 'Select category'}"></app-select>

  <div style="height: 16px"></div>

  <app-input 
    class="wide"
    [inputControl]="impersonateControl"
    [onChange]="boundedOnImpersonateChange" 
    placeholder="Impersonate Chuck Norris"
    ></app-input>
  
  <div style="height: 32px"></div>

  <app-button class="wide" type="drawButton" (click)="handleDrawButton()" [text]="drawButtonLabel"></app-button>
  
  <div style="height: 52px"></div>

  <div class="wide" style="display: flex; justify-content: space-between;">
    <app-counter 
      [parentCounter]="counter.formControl" 
      [onChange]="boundedUpdateSaveButtonState"
      [range]="counter.range"
      ></app-counter>

    <div style="width: 10px"></div>
    
    <app-button class="wide" [type]="saveButtonState" text="Save Jokes" (click)="handleSaveButton()" ></app-button>
  </div>

</div>