div {
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 6px;
  border: none;
  background-color: red;
}
div p {
  font-size: 16px;
  font-variation-settings: 'wght' 500;
  /* font-weight: 500; */
}

.drawButton {
  background-color: var(--main-color);
}
.drawButton p {
  color: var(--white);
  font-variation-settings: 'wght' 600;
  /* font-weight: 600; */
}


.saveButtonOff   {background-color: var(--gray-2);}
.saveButtonOff p {color: var(--main-color);}

.saveButtonOn   {background-color: var(--main-color);}
.saveButtonOn p {color: var(--white);}


.drawButton:hover {
  cursor: pointer;
}
.saveButtonOn:hover {
  cursor: pointer;
}