@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format("truetype");
}

:root {
  --main-color: #34394f;
  --gray-2: #f5f6f8;
  --white: #ffffff;
  --red-error: #f39a9a;
  --gray-1: #c4c4c4;
}

* {
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  margin: 0;
  display: table-cell;
  vertical-align: middle;

  background-color: #f9f9f9;
}

p, select, input, span, label {
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
